@import "customVariables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "custom";

// стили внутренние
.inventory {
  padding: $cell-padding;
  position: relative;

  background-color: $gray-lighter;
  border-radius: $cell-border-radius;
  border: 4*$cell-border-width $gray-light solid;

  .row {
    margin-left: -$cell-padding;
    margin-right: -$cell-padding;
  }
}
.cell {
  height: $cell-height;
  width: 18% !important;
  margin: 0 1% $cell-padding 1%;

  line-height: $cell-height;
  text-align: center;

  background-color: $body-bg;
  border-radius: $cell-border-radius;
  border: $cell-border-width $gray-light dashed;
}

.list .glyphicon {
  font-size: $points-height;
  line-height: $cell-height;
}

.slick-prev:before, .slick-next:before {
  color: $gray-dark !important;
}

button.slick-arrow {
  z-index: 1000;
  height: $cell-height*4 + 8*$cell-border-width + 4*2*$cell-border-width + 4*$cell-padding + 2*$cell-padding - 4*2 !important;
  color: $gray-dark;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: $cell-height*5 + 8*$cell-border-width + 5*2*$cell-border-width + 5*$cell-padding + 2*$cell-padding - 5*2 !important;

  }
}

.slick-prev {
  left: 0 !important;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0,0,0,0)) !important;
}

.slick-next, .slick-next:hover, .slick-next:focus {
  right: 0 !important;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0,0,0,0)) !important;
}
