@import "customVariables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "custom";

.inventory {
  padding: $cell-padding $cell-padding $carousel-control-font-size $cell-padding;

  position: relative;

  background-color: $gray-lighter;
  border-radius: $cell-border-radius;
  border: $cell-border-width $gray-light solid;

  .row {
    margin-left: -$cell-padding;
    margin-right: -$cell-padding;
  }
}
.cell {
  height: $cell-height;
  width: 18% !important;
  margin: 0 1% $cell-padding 1%;

  line-height: $cell-height;
  text-align: center;

  background-color: $body-bg;
  border-radius: $cell-border-radius;
  border: $cell-border-width $gray-light dashed;
}

.carousel-indicators {
  bottom: -$cell-padding/2;
}