@import "customVariables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "custom";

.inventory {
  padding: $cell-padding $cell-padding 0 $cell-padding;

  position: relative;

  background-color: $gray-lighter;
  border-radius: $cell-border-radius;
  border: $cell-border-width $gray-light solid;
}
.cell {
  height: $cell-height;
  width: 18% !important;
  margin: 0 1% $cell-padding 1%;

  line-height: $cell-height;
  text-align: center;

  background-color: $body-bg;
  border-radius: $cell-border-radius;
  border: $cell-border-width $gray-light dashed;
}
.arrow {
  position: absolute;

  background: transparent;
  border: none;

  img {
    width: $arrow-width;
  }
}

.left {
  left: -$arrow-width * 1.5;
  top: 2 * $cell-height + $cell-border-width*4;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    top: 2.5 * $cell-height + $cell-border-width*4;
  }
}

.right {
  left: $container-sm;
  bottom: 2 * $cell-height + $cell-border-width*4;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    bottom: 2.5 * $cell-height + $cell-border-width*4;
  }

  @media (min-width: $screen-md-min) {
    left: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    left: $container-lg;
  }

}

